.letter-slider
  display flex
  flex-direction column
  width 60px
  line-height 31px
  white-space wrap
  font-size 26px
  text-align center
  position fixed
  top 230px
  right 0px
  font-weight bold
  .center-tips
    width 200px
    height 200px
    background rgba(0,0,0,.5)
    font-size 100px
    color #fff
    font-weight bolder
    position fixed
    top 0
    left 0
    bottom 0
    right 0
    margin auto
    text-align center
    line-height 200px
    border-radius 10px
