@import "../../styles/mixin.styl"
.carCnt{
  position fixed
  bottom 160rpx
  right 25px
  wh(96px,96px)
  .img{
    wh(96px,96px)
    display block
  }
  .cnt{
    width:44px;
    height:44px;
    background:rgba(255,255,255,1);
    border:2px solid rgba(255,122,21,1);
    border-radius:50%;
    font-size:26px;
    font-weight:bold;
    text-align center
    line-height 44px
    color:rgba(255,122,21,1);
    position absolute
    top: -10px
    right -8px
  }
}
