
.searchShopPingCarCnt
  display block
  width 30px
  height 30px
  position absolute
  top: -10px
  left: -10px
  font-size 24px
  line-height 30px
  color #FF7200
  border-radius 50%
  border 1px solid #FF7200
  background-color #FFF
  text-align center


.cnt{
  width:44px;
  height:44px;
  background:rgba(255,255,255,1);
  border:2px solid rgba(255,122,21,1);
  border-radius:50%;
  font-size:26px;
  font-weight:bold;
  text-align center
  line-height 44px
  color:rgba(255,122,21,1);
  position absolute
  top: -10px
  right -8px
}
