.searchMain
  width 100%
  height 100vh
  display flex
  flex-direction column
  .search
    width 100%
    height auto
    .at-search-bar__action {
      background-color #fff
      color #A1A1A1
    }
  .history-box
    flex 1
  .goodsList
    display flex
    flex 1
    flex-direction column
    .goodsItem
      width 100%
      padding 25px 32px
      box-sizing border-box
      border-bottom 1px solid #EFEFEF
  .hidden
    display none
