@import "../../../styles/mixin.styl"
.top-search
  wh(100%, auto)
  display flex
  flex-direction column
  .header
    width 100%
    display flex
    flex-direction row
    box-sizing border-box
    padding 15px 32px
    justify-content space-between
    .search
      width 597px
      height 60px
      border-radius 31px
      background-color  #F6F6F6
      overflow hidden
      line-height 62px
      padding-left 22px
      color #adadad
      font-size $font-size-5
    .shoppingCar
      wh(50px, 100%)
      position: relative;
      margin-left 30px
      .img-style
        display block
        wh(50px, 50px)




