@import "../../styles/mixin.styl"
.home {
  //position relative
  background-color #F5F5F5
  // 轮播图
  //height auto
  height 100vh
  .focusPic-swiper {
    height 310px
    .focusPic-img {
      wh(100%,100%)
    }
  }
  .level-goods{
    background-color #F5F5F5
  }
  // 搜索
  .search{
    position fixed
    top: 0
    left 0
    width 100%
    height 108px
  }
  .ngcWrite{
    background-color rgba(255,255,255,0.8)
  }
  .focus-pos {
    margin-top  26px
    display flex
    .focus-img {
      wh(40px,40px)
      padding 0 33px
      align-self center
    }
    .focus-search {
      wh(577px,57px)
      border-radius  40px
      background  rgba(255,255,255,1)
      align-self center
      display flex
      border 0px solid  $color-yellow
      .focus-search-font{
        color  #ADADAD
        align-self center
        font-size 26px
      }
    }
    .focus-search1{
      border 1px solid  $color-yellow
    }
  }
  .home-goods {
    justify-content space-between
    padding 0 22px
  }

  //分类
  .classify{
    height 320px
    background-color #fff
    padding 32px 20px 0px
    .classify-box{
      wh(97px, 120px)
      margin-right 57px
      padding-bottom 23px
      .classify-img{
        wh(84px, 84px)
        border-radius 30px
        margin 0 5px
      }
      .classify-font{
        font-size 24px
        color #313131
        text-align center
      }
    }
    .classify-box:nth-child(5n+5){
      margin-right 0
    }
  }

//品牌
  .brand {
    margin 0 auto
    wh(95%, 440px)
    background-color #fff
    border-radius 10px
    overflow hidden
    padding 13px 7px
    box-sizing border-box
    justify-content space-between
    .brand-img {
      wh(102px, 102px)
      margin 16px
      border-radius 30px
      border 1px solid #BCBCBC
    }
  }
  .curtainPng{
    height 1114px
  }
}
