@import "../../styles/mixin.styl"
.selectList{
    .selectLine{
        height 95px
        border-bottom 1px solid #EFEFEF
        overflow hidden
        padding 0 24px
        .selectText{
            line-height 95px
            float left
            font-size 32px
            color #343434
            width 100%
        }
        .yuan{
            float right
            width 38px
            height 38px
            margin-top -32px
            image{
                width 36px
                height 36px
                display inline-block
            }
        }
        .dui{
            float right
            width 38px
            height 38px
            margin-top -32px
            image{
                width 36px
                height 36px
                display inline-block
            }
        }

    }
}