@import "../../../styles/mixin.styl"
 .orderDetail{
     background #F8F8F8
     height 100%
     .at-action-sheet-footer{
        background #FF7900
        border-top none
        color #ffffff
        font-size 30px
      }
     .at-list__item{
        border-bottom 1px solid #E6E9EE
      }
      .at-action-sheet-item{
        color #343434
        font-size 32px
      }
     .textDetail{
         height 100%
         background #fff
         padding:15px 0
       .special{
            color #8E8E8E
          }
         .firstLine{
             min-hight 28px
             font-size $font-size-4
             line-height 28px
             margin-top 41px
             .orderNum{
                 float left
                 margin-left 24px
             }
             .orderStata{
                 float right
                 margin-right 24px
                 color #FF5000
                 margin-top -30px
             }
        }
         .twoLine{
            height 28px
            font-size $font-size-4
            line-height 28px
            margin-top 20px
            .orderTime{
                float left
            }
            .dizhi{
                word-wrap: break-word
                width 500px
                min-height 28px
                line-height 28px
            }
            .orderStata{
                 float right
                //  margin-right 24px
                 color #FF5000
             }
        }
        .special1{
            color #5c5c5c
        }
         .lastLine{
             margin-bottom 25px
             min-height 20px
        }
     }
}
.TextStyle{
    height 28px
    font-size $font-size-4
    line-height 28px
    margin-left 24px
    width 150px
}
.detailOrderList{
    margin-top 20px
    .listBox{
        height 100%
        margin-bottom 15px
        background #fff
        font-size $font-size-5
        padding-bottom 30px
        margin-top -5px
    }
    .Top{
    height 72px
    background #fff
}
.shopName{
    .shopNameLeft{
        margin-left 23px
        line-height 72px
        max-width 400px
        overflow : hidden
        height 72px
        overflow hidden
        float left
        text-overflow:ellipsis;
        white-space:nowrap
    }
}
.orderType{
    line-height 72px
    float right
    margin-right 21px
    color #FF5000
}
.orderMain{
    overflow hidden
    background #F8F8F8
    height 185px
    margin-bottom 10px
    .orderMainLeft{
        width 178px
        float left
        .pic{
        width 154px
        height 154px
        margin 14px 25px 17px 24px
        }
    }
    .orderMainRight{
        width 547px
        float right
        .orderMainRightT{
                height 76px
            .orderName{
                color #212121
                margin-top 14px
                float left
                overflow hidden
                width 311px
                text-overflow ellipsis
                display -webkit-box
                -webkit-line-clamp 2
                -webkit-box-orient vertical
            }
            .orderMoney{
                margin-top 14px
                float right
                text-align right
                margin-right 21px
            .Money{
                margin-bottom 10px
            }
            .Number{
                color #A2A2A2
            }
            }
        }
        .orderMainRightD{
            margin-top 38px
            color #A2A2A2
            .refund{
                margin-top 12px
                margin-right 26px
                float right
                width 120px
                height 36px
                border 0.5px solid rgba(105,105,105,1)
                border-radius 19px
                font-size 24px
                line-height 32px
                color #696969
            }
            .refunding{
                margin-top -30px
                margin-right 26px
                padding-left 0px
                padding-right 0px
                float right
                width 125px
                height 36px
                border 1px solid rgba(105,105,105,1)
                border-radius 19px
                font-size 24px
                line-height 36px
                color #696969
            }
        }


    }

}
.costList{
    margin-top 15px
    height 100%
    color #5C5C5C
}
.buttonGroup{
    background #fff
    padding-top 61px
    padding-bottom 61px
    .allBtn{
    width 320px
    height 85px
    }
    .btnOne{
        border-radius 20px
        background #DDDDDD
        float left
        margin-left 34px
        color #696969
    }
    .btnTwo{
        border-radius 20px
        background #ED6C00
        color #FAFAFA
    }
    .aloneBtn{
        width 600px
        height 85px
    }
}


}
