@import "../../../styles/mixin.styl"
.orderListMain{
    background #ffffff
}
.orderListMain2{
    background #ffffff
}
.order{
    .at-action-sheet-footer{
        background #FF7900
        border-top none
        color #ffffff
        font-size 30px
      }
    .search-header{
    wh(100%, 90px)
    display flex
    flex-direction row
    align-items center
    padding 0 25px
    box-sizing border-box
    }
    .at-search-bar__action {
    background-color #fff
    color#a1a1a1
}
}
.pic{
    // width 96%
    height 100%
}
.scroll-view{
  height calc(100vh - 178px)
}
.scroll-view2{
  height calc(100vh - 178px)
}
.at-search-bar__placeholder_wrap{
    -webkit-justify-content:left !important
    justify-content:left !important
}


