@import '../../styles/mixin.styl'
.paySuccess
  wh(100%, auto)
  display flex
  flex-direction column
  background-color #F1F1F1
  .header
    width 100%
    height 360px
    background url('http://res.hanguda.com/uploads/group1/M00/02/2F/rBBZuFwSJOGAZcOTAAAdTkCQ4Qo735.png') no-repeat center
    background-size 100%
    padding-top 90px
    box-sizing border-box
    margin 0 auto
    display flex
    align-content center
    flex-direction column
    .paySuccess-img
      display block
      wh(107px, 107px)
      align-self center
    .paySuccess-title
      wh(100%, 94px)
      line-height 94px
      color #fff
      text-align center

  .goodsList
    background-color #F1F1F1
    width 100%
    height: auto
    display flex
    flex-direction row
    flex-wrap wrap
    padding 0 25px 40px
    box-sizing border-box
    justify-content space-between

