
.cardIndex{
    height 100%
    padding-bottom 20px
    background #F4F4F4
    .scroll-view{
        height calc(100vh - 106px)
    }
   .cardList{
        overflow hidden
        background #F4F4F4
        padding 0 26px 0 22px
        
    }
}