@import "./../../styles/mixin.styl"
.wrapper{
  min-height calc(100vh)
}
.carList{
  padding-left: 20px
  &-item{
    &-content{
      margin 30px 0
    }
    &-title{
      font-size:26px;
      font-weight:500;
      height 50px
      color:rgba(52,52,52,1);
      display flex
      align-items center
      .name{
        max-width 550px
        overflow : hidden
      }
      .img{
        wh(32px,30px)
        margin 0 15px 0 22px
      }
      .right{
        wh(11px,22px)
        margin-left 15px
      }
    }
    &-goods{
      .goodsItem{
        display flex
        align-items center
        &.top{
          padding-top 4px
          .goodsItem-info{
            border-top-left-radius 11px
            border-top-right-radius 11px
          }
        }
        &.bottom{
          padding-bottom 4px
          .goodsItem-info{
            border-bottom-left-radius 11px
            border-bottom-right-radius 11px
          }
        }
        &-info{
          display flex
          width 625px
          padding 35px 15px
          background #fff
          box-shadow:0px 2px 16px 0px rgba(0, 0, 0, 0.16);
          margin-left 22px
          &-img{
            wh(180px,180px)
            .img{
              wh(180px,180px)
              display block
            }
          }
          &-detail{
            margin-left 13px
            position relative
            width 433px
            &-goodsName{
              font-size 26px
            }
            &-sku{
              width:180px;
              height:47px;
              line-height 47px
              font-size:24px;
              color #999999FF
              background:rgba(249,249,249,1);
              border-radius:5px;
              margin-top 8px
              padding 0 30px 0 10px
              position relative
              .img{
                position absolute
                right 10px
                top 18px
                wh(20px,12px)
              }
            }
            &-price{
              height:28px;
              position absolute
              font-size:32px;
              font-weight:bold;
              color:rgba(237,108,0,1);
              bottom 6px
            }
            &-cunt{
              position absolute
              right 0
              bottom -16px
            }
          }
        }
      }
    }
    &-balance{
      padding-bottom 30px
      font-size:28px;
      color #343434FF
      text-align right
      .sum{
        font-size:30px;
        font-weight:bold;
        display inline-block
        color:rgba(237,108,0,1);
      }
      .btn{
        display inline-block
        width:139px;
        height:53px;
        line-height @height
        background:rgba(237,108,0,1);
        border-radius:10px;
        text-align center
        color #fff
        margin 0 28px 0  50px
      }
    }
  }
}

.carList-no{
  .message{
    .img{
      wh(276px,135px)
      display block
      margin 84px auto
    }
    .text{
      text-align center
      height:27px;
      font-size:26px;
      font-weight:500;
      color:rgba(49,49,49,1);
    }
  }
  .goods{
    background:#F1F1F1FF
    margin-top 80px
    .items{
      justify-content space-between
      padding 0 22px
    }
  }
}
