@import "./../../styles/mixin.styl"
$search-width = 680px

  .classify-level {
    wh(180px, auto)
    line-height 100px
    font-size 26px
    color #313131
    display flex
    background #eee
    flex-direction row
    .classify-font{
      width 100%
      text-align center
      box-sizing border-box
    }
    .classify-style {
      wh(6px,100px)
    }
  }
  .level1 {
    background-color #fff
    .classify-style-color{
      background rgba(255, 78, 0, 1)
    }
  }
