@import "./../../../styles/mixin.styl"
.brand {
  margin 0 auto
  wh(95%, 440px)
  background-color #fff
  border-radius 10px
  overflow hidden
  padding 13px 7px
  box-sizing border-box
  justify-content space-between
  .brand-img {
    wh(102px, 102px)
    margin 16px
    border-radius 30px
    border 1px solid #BCBCBC
  }
}
