@import "../../../styles/mixin.styl"
.city-main
  wh(100%, 100vh)
  display flex
  flex-direction column
  .search
    height 96px
  .at-search-bar__action {
      background-color #fff
      color #A1A1A1
    }
  .searchList
    flex 1
  .city-history
    width 100%
    .watchingCity
      wh(100%, 85px)
      line-height 85px
      padding-left 24px
      box-sizing border-box
      font-size $font-size-4
      font-weight bold
      border-bottom 1px solid #e0ebf3
    .historyCity
      background #EFF1F5
      border-bottom 1px solid #e0ebf3
      .historyCity-title
        padding 0 24px
        line-height 70px
        font-size $font-size-5
        font-weight bold
      .historyCity-list
        display flex
        flex-direction row
        flex-wrap wrap
        padding 0 24px 24px
        box-sizing border-box
        .hisCityItem
          padding 0 20px
          text-align center
          background #fff
          border-radius 10px
          line-height 80px
          display inline-block
          font-size $font-size-3
          margin 0 0 20px 20px
  .scroll
    flex 1
    overflow-y: scroll
    .letter-top
      hl(50px, 50px)
      font-size $font-size-5
      background #f7f7f7
      text-indent 1em
      color #8E8E8E
      margin-top -1px

